{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">
<main class="global-main">
    <div class="archive-section is-partial-dark">
<h1 class="archive-title global-title is-tag">Opinion<span>9</span></h1>
<p class="archive-excerpt global-excerpt">Opinions are not to be liked by everyone, but they are still worth a good read or two.</p>
</div>
<div class="loop-section global-padding">
<div class="global-subtitle">
<small class="global-subtitle-title">
Check out the <span>latest posts</span></small>
</div>
<div class="loop-wrap">
<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/k-pop-queerbating/" class="global-link" aria-label="K-pop, queerbating, and the masculinity of a Korean trans man."></a>
<img srcset="/content/images/size/w300/2023/02/Kpop.png 300w, 
/content/images/size/w600/2023/02/Kpop.png 600w,
/content/images/size/w1200/2023/02/Kpop.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/02/Kpop.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
    <span>Anonymous</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/opinions/">Opinion</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/k-pop-queerbating/">K-pop, queerbating, and the masculinity of a Korean trans man.</a></h2>
<p class="item-excerpt">
I think the main reason so many queer fans, particularly Western fans, are allured to K-pop is because of gender performances that challenge Western norms.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/top-bottom-vers-sides/" class="global-link" aria-label="Tops, Bottoms, Vers &amp; Sides!"></a>
<img srcset="/content/images/size/w300/2022/12/Sides.png 300w, 
/content/images/size/w600/2022/12/Sides.png 600w,
/content/images/size/w1200/2022/12/Sides.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2022/12/Sides.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/angelos/" class="global-link" title="Angelos Bollas"></a>
    <span>Angelos Bollas</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/opinions/">Opinion</a><span></span>
</div>
<h2 class="item-title"><a href="/top-bottom-vers-sides/">Tops, Bottoms, Vers &amp; Sides!</a></h2>
<p class="item-excerpt">
If you have watched Channel 4's TV show Cucumber (2015), you will probably be familiar with the character of Henry Best (Vincent Franklin), a middle-aged gay man who does not engage in penetrative sex with other men not out of some trauma or fear of being in pain, as some...
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/is-it-ok-to-ask-someone-if-they-are-hiv-before-sex/" class="global-link" aria-label="Is it OK to ask someone if they are HIV+ before sex?"></a>
<img srcset="/content/images/size/w300/2022/10/Ask-about-HIV.png 300w, 
/content/images/size/w600/2022/10/Ask-about-HIV.png 600w,
/content/images/size/w1200/2022/10/Ask-about-HIV.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2022/10/Ask-about-HIV.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author is-image global-image">
    <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
    <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/hiv/">HIV</a><span><a href="/tag/opinions/">Opinion</a></span>
</div>
<h2 class="item-title"><a href="/is-it-ok-to-ask-someone-if-they-are-hiv-before-sex/">Is it OK to ask someone if they are HIV+ before sex?</a></h2>
<p class="item-excerpt">
If you are reading this post and believe this is a fair question, give me a minute to tell you why I disagree.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/queer-stand-up-comedians/" class="global-link" aria-label="F@CK Netflix &amp; D#V3 CHA&amp;£LL£ / Here are some great queer Stand Up Comedians"></a>
<img srcset="/content/images/size/w300/2021/10/Stand-up@2x.png 300w, 
/content/images/size/w600/2021/10/Stand-up@2x.png 600w,
/content/images/size/w1200/2021/10/Stand-up@2x.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/10/Stand-up@2x.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author is-image global-image">
    <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
    <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/opinions/">Opinion</a><span></span>
</div>
<h2 class="item-title"><a href="/queer-stand-up-comedians/">F@CK Netflix &amp; D#V3 CHA&amp;£LL£ / Here are some great queer Stand Up Comedians</a></h2>
<p class="item-excerpt">
You may have heard about a cisgender male comedian that made some jokes about
our trans siblings. I don't plan to talk if people should be cancelled, and I
won't waste time arguing if we should make fun of a minority that is the target
of so many. I haven't...
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/my-open-relationship/" class="global-link" aria-label="My Open Relationship"></a>
<img srcset="/content/images/size/w300/2021/10/Open-relationships@2x.png 300w, 
/content/images/size/w600/2021/10/Open-relationships@2x.png 600w,
/content/images/size/w1200/2021/10/Open-relationships@2x.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/10/Open-relationships@2x.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author is-image global-image">
    <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
    <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5.445 9.333V6.667C5.445 2.985 8.38 0 12 0c3.62 0 6.554 2.985 6.554 6.667v2.666s2.622 1.214 2.622 6c0 4.787-3.815 8.667-8.52 8.667h-1.312c-4.706 0-8.52-3.88-8.52-8.667 0-4.786 2.621-6 2.621-6zm10.487 0V6.667c0-2.21-1.76-4-3.932-4-2.172 0-3.933 1.79-3.933 4v2.666h7.865z"/></svg><a href="/tag/opinions/">Opinion</a><span><a href="/tag/open-relationships/">Open Relationships</a></span>
</div>
<h2 class="item-title"><a href="/my-open-relationship/">My Open Relationship</a></h2>
<p class="item-excerpt">
This post is part of a series

Open Relationships 101 >

Questionmark on Open Relationships Part 1 >
Part 2 >   Part 3  >   Part 4  >

Μy open relationship

Now, this is probably the scariest post I've ever written. Although I was the one who compiled all these questions and the first one to...
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/pride-away-from-a-dystopian-world/" class="global-link" aria-label="How can anyone be proud to be LGBT?"></a>
<img srcset="/content/images/size/w300/2021/06/Pride---4.png 300w, 
/content/images/size/w600/2021/06/Pride---4.png 600w,
/content/images/size/w1200/2021/06/Pride---4.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/06/Pride---4.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author is-image global-image">
    <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
    <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/opinions/">Opinion</a><span></span>
</div>
<h2 class="item-title"><a href="/pride-away-from-a-dystopian-world/">How can anyone be proud to be LGBT?</a></h2>
<p class="item-excerpt">
Have you ever had a dystopian nightmare?
The kind of nightmare that a far-right-wing government takes over your country and the police is raiding your house.

If you belong to a minority, you have much higher chances of having such a night vision, or worse, you may be living in one right now.
</p>
</div>
</article>	</div>
</div><div class="pagination-section">
<a href="/tag/opinions/page/2/" aria-label="Load more"></a>
<button class="global-button">Load more</button>
</div>
</main>