{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">

<div class="featured-wrap">
    <!-- Display one featured article -->
    <article class="item is-featured is-small is-image">
        <div class="item-image global-image global-image-orientation global-radius is-square">
            <a href="/open-relationships-101/" class="global-link" aria-label="Open Relationships 101"></a>
            <img srcset="/content/images/size/w300/2021/08/Open-Relationships-101@2x.png 300w, 
                /content/images/size/w600/2021/08/Open-Relationships-101@2x.png 600w,
                /content/images/size/w1200/2021/08/Open-Relationships-101@2x.png 1200w"
                sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
                src="{% static '' %}"
                loading="lazy"
                alt="">
            <div class="item-authors global-authors">
                <div>
                    <div class="item-author global-item-author is-image global-image">
                        <a href="/" class="global-link" title="author"></a>
                        <img src="{% static '' %}" loading="lazy" alt="author">
                    </div>
                </div>
            </div>
        </div>
        <div class="item-content">
            <div class="item-tags global-tags">
                <a href="/tag/stories/">Story</a><span><a href="/tag/open-relationships/">Strory 1</a></span>
            </div>
            <h2 class="item-title"><a href="/open-relationships-101/">story 101</a></h2>
            <p class="item-excerpt">
                ................................
                
                ...................................
                .............................................................................................................
            </p>
        </div>
    </article>
</div>

<div class="loop-section global-padding">
    <div class="loop-subtitle">
        <small class="loop-subtitle-title global-title">
            See what we’ve <br><span>written lately</span></small>
        <div class="global-authors option-1-2-3">
            <div>
                <div class="global-item-author is-image global-image">
                    <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
                    <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">
                </div>
                <div class="global-item-author">
                    <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
                    <span>Anonymous</span>
                </div>
                <div class="global-item-author">
                    <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
                    <span>Menenaba</span>
                </div>
                <div class="global-item-author is-image global-image">
                    <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
                    <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">
                </div>
                <div class="global-item-author is-image global-image">
                    <a href="/author/stamos/" class="global-link" title="Stamos"></a>
                    <img src="/content/images/size/w300/2023/01/SAM_0091.JPG" loading="lazy" alt="Stamos">
                </div>
            </div>
            <small>Meet our author</small>
            <small>Meet our authors</small>
            <small>Meet our top authors</small>
        </div>
    </div>
    <div class="loop-wrap">
        <!-- Display one loop article -->
        <article class="item is-loop is-image">
            <div class="item-image global-image global-image-orientation global-radius">
                <a href="/perfect-date-in-ukraine/" class="global-link" aria-label="Perfect Date In Ukraine"></a>
                <img srcset="/content/images/size/w300/2024/03/2.png 300w, 
                    /content/images/size/w600/2024/03/2.png 600w,
                    /content/images/size/w1200/2024/03/2.png 1200w"
                    sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
                    src="/content/images/size/w1200/2024/03/2.png"
                    loading="lazy"
                    alt="">
                <div class="item-authors global-authors">
                    <div>
                        <div class="item-author global-item-author is-image global-image">
                            <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
                            <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-tags global-tags">
                    <a href="/tag/stories/">Story</a><span></span>
                </div>
                <h2 class="item-title"><a href="/perfect-date-in-ukraine/">.........................</a></h2>
                <p class="item-excerpt">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, sed mollitia sit earum praesentium maiores dolorum, dolores tempore quidem rerum iusto nulla esse iste? Similique sunt ducimus ipsam voluptatibus earum.
                </p>
            </div>
        </article>
    </div>
</div>
