{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">
<div class="featured-wrap">
    <article class="item is-featured is-small is-image">
<div class="item-image global-image global-image-orientation global-radius is-square">

<a href="/open-relationships-101/" class="global-link" aria-label="Open Relationships 101"></a>
<img srcset="/content/images/size/w300/2021/08/Open-Relationships-101@2x.png 300w, 
     /content/images/size/w600/2021/08/Open-Relationships-101@2x.png 600w,
     /content/images/size/w1200/2021/08/Open-Relationships-101@2x.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/08/Open-Relationships-101@2x.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author is-image global-image">
            <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
            <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span><a href="/tag/open-relationships/">Open Relationships</a></span>
</div>
<h2 class="item-title"><a href="/open-relationships-101/">Open Relationships 101</a></h2>
<p class="item-excerpt">
    Mike's introduction to Open Relationships.


I used to be a culchie...

and still am at heart since I live in Dublin. Back then, a sex date with a guy I fancied a lot showed me that I was still "that innocent".

I'm not sure how old he was, but let's...
</p>
</div>
</article>			<article class="item is-featured is-small is-image">
<div class="item-image global-image global-image-orientation global-radius is-square">

<a href="/drugged-raped-pozzed/" class="global-link" aria-label="Drugged, raped and pozzed"></a>
<img srcset="/content/images/size/w300/2021/04/Drugged--raped-and-posed.@2x-1.png 300w, 
     /content/images/size/w600/2021/04/Drugged--raped-and-posed.@2x-1.png 600w,
     /content/images/size/w1200/2021/04/Drugged--raped-and-posed.@2x-1.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/04/Drugged--raped-and-posed.@2x-1.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5.445 9.333V6.667C5.445 2.985 8.38 0 12 0c3.62 0 6.554 2.985 6.554 6.667v2.666s2.622 1.214 2.622 6c0 4.787-3.815 8.667-8.52 8.667h-1.312c-4.706 0-8.52-3.88-8.52-8.667 0-4.786 2.621-6 2.621-6zm10.487 0V6.667c0-2.21-1.76-4-3.932-4-2.172 0-3.933 1.79-3.933 4v2.666h7.865z"/></svg><a href="/tag/stories/">Story</a><span><a href="/tag/hiv/">HIV</a></span>
</div>
<h2 class="item-title"><a href="/drugged-raped-pozzed/">Drugged, raped and pozzed</a></h2>
<p class="item-excerpt">
    I had relocated to Spain just eight months before and the change of scene from Dublin to Barcelona was beyond what I had expected. In Dublin, I lived a very sheltered life, very naive and innocent and didn’t get myself involved in the gay scene. It just didn’t interest me.
When I moved here, I...
</p>
</div>
</article>			<article class="item is-featured is-small is-image">
<div class="item-image global-image global-image-orientation global-radius is-square">

<a href="/growing-up-black-and-gay/" class="global-link" aria-label="Growing up black and gay: Tired of being different #BLM"></a>
<img srcset="/content/images/size/w300/2021/04/Growing-up-black-and-gay@2x.jpg 300w, 
     /content/images/size/w600/2021/04/Growing-up-black-and-gay@2x.jpg 600w,
     /content/images/size/w1200/2021/04/Growing-up-black-and-gay@2x.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/04/Growing-up-black-and-gay@2x.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span></span>
</div>
<h2 class="item-title"><a href="/growing-up-black-and-gay/">Growing up black and gay: Tired of being different #BLM</a></h2>
<p class="item-excerpt">
    As a child, my grandmother would always tell me. ‘Stay away from those white kids, they ain’t nothin’ but trouble’. This sounded racist butI failed to understand is that having been born in the 1910s, the majority of her encounters with whites were terrible.
</p>
</div>
</article>			<article class="item is-featured is-small is-image">
<div class="item-image global-image global-image-orientation global-radius is-square">

<a href="/substance-abuse-1didnt-know-i-was-a-drug-addict/" class="global-link" aria-label="[Substance Abuse] I didn&#x27;t know I was a drug addict"></a>
<img srcset="/content/images/size/w300/2021/04/I-didn-t-know-I-was-a-drug-addict@2x.jpg 300w, 
     /content/images/size/w600/2021/04/I-didn-t-know-I-was-a-drug-addict@2x.jpg 600w,
     /content/images/size/w1200/2021/04/I-didn-t-know-I-was-a-drug-addict@2x.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2021/04/I-didn-t-know-I-was-a-drug-addict@2x.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span><a href="/tag/substance-abuse/">Substance abuse</a></span>
</div>
<h2 class="item-title"><a href="/substance-abuse-1didnt-know-i-was-a-drug-addict/">[Substance Abuse] I didn&#x27;t know I was a drug addict</a></h2>
<p class="item-excerpt">
    This is a story from an anonymous reader about how their experience with alcohol and drugs since a very young age and how they have come out through this tunnel with the help of AA.


“I started drinking and using drugs when I was about 16.

At the time, I...
</p>
</div>
</article>			<article class="item is-featured is-small is-image">
<div class="item-image global-image global-image-orientation global-radius is-square">
<span class="is-last"></span>
<a href="/sad-yet-hopeful-my-coming-out-story/" class="global-link" aria-label="Sad yet hopeful. My coming out story"></a>
<img srcset="/content/images/size/w300/wordpress/2019/09/coming_out_mike.jpg 300w, 
     /content/images/size/w600/wordpress/2019/09/coming_out_mike.jpg 600w,
     /content/images/size/w1200/wordpress/2019/09/coming_out_mike.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/wordpress/2019/09/coming_out_mike.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author is-image global-image">
            <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
            <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span><a href="/tag/coming-out/">Coming out</a></span>
</div>
<h2 class="item-title"><a href="/sad-yet-hopeful-my-coming-out-story/">Sad yet hopeful. My coming out story</a></h2>
<p class="item-excerpt">
    I was asleep when my mum woke me up softly. Tears were running down her face.
She looked confused. “Come to the living room, please. I don’t want to wake your
brother up”.

There is no right time for people to learn you are LGBT. There is no wrong...
</p>
</div>
</article>		</div>
</div>
</div>
</div>
</div><div class="loop-section global-padding">
<div class="loop-subtitle">
<small class="loop-subtitle-title global-title">
See what we’ve <br><span>written lately</span></small>
<div class="global-authors option-1-2-3">
    <div>
        <div class="global-item-author is-image global-image">
            <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
            <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
        <div class="global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
        <div class="global-item-author">
            <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
            <span>Menenaba</span>
        </div>
        <div class="global-item-author is-image global-image">
            <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
            <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">				</div>
        <div class="global-item-author is-image global-image">
            <a href="/author/stamos/" class="global-link" title="Stamos"></a>
            <img src="/content/images/size/w300/2023/01/SAM_0091.JPG" loading="lazy" alt="Stamos">				</div>
    </div>
    <small>Meet our author</small>
    <small>Meet our authors</small>
    <small>Meet our top authors</small>
</div>
</div>
<div class="loop-wrap">
<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/perfect-date-in-ukraine/" class="global-link" aria-label="Perfect Date In Ukraine"></a>
<img srcset="/content/images/size/w300/2024/03/2.png 300w, 
     /content/images/size/w600/2024/03/2.png 600w,
     /content/images/size/w1200/2024/03/2.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2024/03/2.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author is-image global-image">
            <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
            <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">				</div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span></span>
</div>
<h2 class="item-title"><a href="/perfect-date-in-ukraine/">Perfect Date In Ukraine</a></h2>
<p class="item-excerpt">
    by Ilya Kharkow - www.ikharkow.com

“Beauty can be a more formidable obstacle than a barrier of barbed wire”
Jean Genet

Hey, how’s it hanging? Damn, it’s hot as hell today. The heat’s making my head spin. And also, my head is spinning from a story...
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/i-destroy-the-sense-of-all-insults/" class="global-link" aria-label="Ilya Kharkow, I destroy the sense of all insults"></a>
<img srcset="/content/images/size/w300/2024/03/Gay-Writer-From-Ukraine.png 300w, 
     /content/images/size/w600/2024/03/Gay-Writer-From-Ukraine.png 600w,
     /content/images/size/w1200/2024/03/Gay-Writer-From-Ukraine.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2024/03/Gay-Writer-From-Ukraine.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author is-image global-image">
            <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
            <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">				</div>
        <div class="item-author global-item-author is-image global-image">
            <a href="/author/questionmike/" class="global-link" title="Mike Questionmark"></a>
            <img src="/content/images/size/w300/2021/04/elska-dublin-p4tb-Mike-M-85@2x.jpg" loading="lazy" alt="Mike Questionmark">				</div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/interview/">Interview</a><span></span>
</div>
<h2 class="item-title"><a href="/i-destroy-the-sense-of-all-insults/">Ilya Kharkow, I destroy the sense of all insults</a></h2>
<p class="item-excerpt">
    Marilyn Monroe once said that love and work are the only worthwhile things in life. Trying to combine them, I invented sex.


What do our readers need to know about you?

My name is Ilya Kharkow. I like polo shirts, anarcho-individualism and PrEP. I’m a writer from Ukraine, but...
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/carefully-curated-queer-books-music-films-and-art/" class="global-link" aria-label="Delicately Curated Queer Books, a Short Story &amp; a Film (More, including Music and Art, are coming soon)"></a>
<img srcset="/content/images/size/w300/2023/05/Cover@2x.png 300w, 
     /content/images/size/w600/2023/05/Cover@2x.png 600w,
     /content/images/size/w1200/2023/05/Cover@2x.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/05/Cover@2x.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
            <span>Menenaba</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/carefully-curated-queer-books-music-films-and-art/">Delicately Curated Queer Books, a Short Story &amp; a Film (More, including Music and Art, are coming soon)</a></h2>
<p class="item-excerpt">
    From classic contemporary novels to blockbuster indie films, art galleries, and albums, our curated list of queer excellence in literature and arts offers a comprehensive and inclusive representation of queer voices and stories.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/not-your-doll/" class="global-link" aria-label="Not your doll"></a>
<img srcset="/content/images/size/w300/2023/04/Not-your-doll.jpg 300w, 
     /content/images/size/w600/2023/04/Not-your-doll.jpg 600w,
     /content/images/size/w1200/2023/04/Not-your-doll.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/04/Not-your-doll.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a><span><a href="/tag/stories/">Story</a></span>
</div>
<h2 class="item-title"><a href="/not-your-doll/">Not your doll</a></h2>
<p class="item-excerpt">
    The absence of Sexual Education from the Indonesian school curriculum played a role in the traumatic events that shaped my childhood and defined how Ι see men.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/living-a-double-life/" class="global-link" aria-label="Living a double life"></a>
<img srcset="/content/images/size/w300/2023/03/Double-life.jpg 300w, 
     /content/images/size/w600/2023/03/Double-life.jpg 600w,
     /content/images/size/w1200/2023/03/Double-life.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/03/Double-life.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/stories/">Story</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/living-a-double-life/">Living a double life</a></h2>
<p class="item-excerpt">
    It is a great punishment to live the way I do. Still quite interesting when I get to sneak out and enjoy the flexibilities I can feast on in this hostile to my endeavours society.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/k-pop-queerbating/" class="global-link" aria-label="K-pop, queerbating, and the masculinity of a Korean trans man."></a>
<img srcset="/content/images/size/w300/2023/02/Kpop.png 300w, 
     /content/images/size/w600/2023/02/Kpop.png 600w,
     /content/images/size/w1200/2023/02/Kpop.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/02/Kpop.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
    <a href="/tag/opinions/">Opinion</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/k-pop-queerbating/">K-pop, queerbating, and the masculinity of a Korean trans man.</a></h2>
<p class="item-excerpt">
    I think the main reason so many queer fans, particularly Western fans, are allured to K-pop is because of gender performances that challenge Western norms.
</p>
</div>
</article>	</div>
</div><div class="pagination-section">
<a href="/page/2/" aria-label="Load more"></a>
<button class="global-button">Load more</button>
</div>
    <div class="special-section global-padding">
<div class="special-subtitle global-subtitle">
<small class="global-subtitle-title"><span>Recommended</span></small>
</div>
<div class="special-wrap">
<article class="item is-special is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/carefully-curated-queer-books-music-films-and-art/" class="global-link" aria-label="Delicately Curated Queer Books, a Short Story &amp; a Film (More, including Music and Art, are coming soon)"></a>
<img srcset="/content/images/size/w300/2023/05/Cover@2x.png 300w, 
     /content/images/size/w600/2023/05/Cover@2x.png 600w"
sizes="(max-width:480px) 300px, 600px"
src="/content/images/size/w600/2023/05/Cover@2x.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
            <span>Menenaba</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<h2 class="item-title"><a href="/carefully-curated-queer-books-music-films-and-art/">Delicately Curated Queer Books, a Short Story &amp; a Film (More, including Music and Art, are coming soon)</a></h2>
</div>
</article>		<article class="item is-special is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/not-your-doll/" class="global-link" aria-label="Not your doll"></a>
<img srcset="/content/images/size/w300/2023/04/Not-your-doll.jpg 300w, 
     /content/images/size/w600/2023/04/Not-your-doll.jpg 600w"
sizes="(max-width:480px) 300px, 600px"
src="/content/images/size/w600/2023/04/Not-your-doll.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<h2 class="item-title"><a href="/not-your-doll/">Not your doll</a></h2>
</div>
</article>		<article class="item is-special is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/living-a-double-life/" class="global-link" aria-label="Living a double life"></a>
<img srcset="/content/images/size/w300/2023/03/Double-life.jpg 300w, 
     /content/images/size/w600/2023/03/Double-life.jpg 600w"
sizes="(max-width:480px) 300px, 600px"
src="/content/images/size/w600/2023/03/Double-life.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<h2 class="item-title"><a href="/living-a-double-life/">Living a double life</a></h2>
</div>
</article>		<article class="item is-special is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/from-syria-with-love/" class="global-link" aria-label="From Syria, with love."></a>
<img srcset="/content/images/size/w300/2023/02/Syria-1.jpg 300w, 
     /content/images/size/w600/2023/02/Syria-1.jpg 600w"
sizes="(max-width:480px) 300px, 600px"
src="/content/images/size/w600/2023/02/Syria-1.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<h2 class="item-title"><a href="/from-syria-with-love/">From Syria, with love.</a></h2>
</div>
</article>		<article class="item is-special is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/just-keep-the-fire-burning/" class="global-link" aria-label="&quot;Just keep the fire burning&quot;"></a>
<img srcset="/content/images/size/w300/2023/02/Just-keep-the-fire-burning.png 300w, 
     /content/images/size/w600/2023/02/Just-keep-the-fire-burning.png 600w"
sizes="(max-width:480px) 300px, 600px"
src="/content/images/size/w600/2023/02/Just-keep-the-fire-burning.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
            <span>Menenaba</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<h2 class="item-title"><a href="/just-keep-the-fire-burning/">&quot;Just keep the fire burning&quot;</a></h2>
</div>
</article>		<article class="item is-special is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/what-my-therapist-told-me-about-bottom-surgery/" class="global-link" aria-label="What my therapist told me about bottom surgery"></a>
<img srcset="/content/images/size/w300/2023/01/Therapist.png 300w, 
     /content/images/size/w600/2023/01/Therapist.png 600w"
sizes="(max-width:480px) 300px, 600px"
src="/content/images/size/w600/2023/01/Therapist.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
    <div>
        <div class="item-author global-item-author">
            <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
            <span>Anonymous</span>
        </div>
    </div>
</div>
</div>
<div class="item-content">
<h2 class="item-title"><a href="/what-my-therapist-told-me-about-bottom-surgery/">What my therapist told me about bottom surgery</a></h2>
</div>
</article>	</div>
</div>