{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">

<main class="global-main">
    <article class="post-section">
        <div class="post-header is-partial-dark">
            <div class="post-header-wrap global-padding">
                <div class="post-header-container">
                    <div class="post-header-content">
                        <div>
                            <div class="post-tags global-tags"></div>
                            <h1 class="post-title global-title">About Us</h1>
                        </div>
                    </div>
                    <div class="post-header-image">
                        <figure>
                            <div class="global-image global-image-orientation global-radius is-square">
                                <img srcset="{% static 'images/about.png' %}"
                                     sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
                                     src="{% static 'images/about.png' %}"
                                     alt="About">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content global-padding">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <p>Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
            <p>Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <h2 id="why">Why</h2>
            <p>Curabitur suscipit suscipit tellus. Nulla ac justo vel felis fermentum ultrices eget in libero. Fusce vehicula vel sapien non tincidunt.</p>
            <p>Quisque eget ligula a nulla pretium dapibus. Proin mollis velit ut orci varius, a posuere libero fermentum.</p>
            <ul>
                <li>Nullam tristique eros ut lorem bibendum, id scelerisque urna commodo.</li>
                <li>Integer laoreet dolor sed ante consequat, in convallis nisi tristique.</li>
                <li>Vestibulum ac efficitur purus. Nullam congue nibh non ultricies facilisis.</li>
                <li>Donec vitae ex nec augue scelerisque faucibus.</li>
            </ul>
            <p>Curabitur id purus non magna tincidunt pharetra vel ac magna.</p>
            <h2 id="how">How</h2>
            <p><strong>Events</strong>  Vivamus quis urna nec urna imperdiet posuere vel non nunc.</p>
            <p><strong>Stories</strong> are crafted to inspire and entertain. Sed ultricies metus vel est venenatis tempus.</p>
            <p><strong>Opinions</strong>. Donec tincidunt ligula in nibh vehicula, ac euismod libero auctor. Quisque euismod purus a urna elementum pharetra.</p>
            <h2 id="who">Who</h2>
            <p>Connect with us.<br>
                <a href="#">Twitter</a> – <a href="#">LinkedIn</a> – <a href="#">Instagram</a> – <a href="#">Upcoming</a></p>
            <p><strong>Stay tuned for our upcoming projects and initiatives.</strong> Sign up to stay connected and informed.</p>
        </div>
    </article>
</main>
