{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">

<main class="global-main">
    <div class="archive-section is-partial-dark">
        <h1 class="archive-title global-title is-tag">Story<span>34</span></h1>
        <p class="archive-excerpt global-excerpt">
            We don&#x27;t create a lot of opportunities in our lives to share the things that shape us. The stories from the anonymous contributors below are the proof.
        </p>
    </div>

    <div class="loop-section global-padding">
        <div class="global-subtitle">
            <small class="global-subtitle-title">
                Check out the <span>latest posts</span>
            </small>
        </div>

        <div class="loop-wrap">
            <!-- Display only one article from the is-loop class -->
            <article class="item is-loop is-image">
                <div class="item-image global-image global-image-orientation global-radius">
                    <a href="/perfect-date-in-ukraine/" class="global-link" aria-label="Perfect Date In Ukraine"></a>
                    <img srcset="/content/images/size/w300/2024/03/2.png 300w, 
                        /content/images/size/w600/2024/03/2.png 600w,
                        /content/images/size/w1200/2024/03/2.png 1200w"
                        sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
                        src="/content/images/size/w1200/2024/03/2.png"
                        loading="lazy"
                        alt="">
                    <div class="item-authors global-authors">
                        <div>
                            <div class="item-author global-item-author is-image global-image">
                                <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
                                <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-tags global-tags">
                        <a href="/tag/stories/">Story</a><span></span>
                    </div>
                    <h2 class="item-title"><a href="/perfect-date-in-ukraine/">lorem ipsum</a></h2>
                    <p class="item-excerpt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa veniam, dolorem dignissimos optio tempore voluptatum corporis aperiam corrupti sunt eveniet quisquam excepturi provident modi? Ratione possimus ullam doloremque assumenda numquam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro iusto consequatur ea architecto molestias recusandae. Quidem, voluptatum voluptates. Quis maxime, officia cupiditate ducimus laudantium quidem fuga saepe non incidunt.
                    </p>
                </div>
            </article>
        </div>
    </div>

    <div class="pagination-section">
        <a href="/tag/stories/page/2/" aria-label="Load more"></a>
        
    </div>
</main>
