{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">

<main class="global-main">
    <div class="archive-section is-partial-dark">
        <h1 class="archive-title global-title is-tag">Story<span>34</span></h1>
        <p class="archive-excerpt global-excerpt">
            We don't create a lot of opportunities in our lives to share the things that shape us. The stories from the anonymous contributors below are the proof.
        </p>
    </div>

    <div class="loop-section global-padding">
        <div class="global-subtitle">
            <small class="global-subtitle-title">
                Check out the <span>latest posts</span>
            </small>
        </div>

        <div class="loop-wrap">
            {% for story in stories %}
            <article class="item is-loop is-image">
                <div class="item-image global-image global-image-orientation global-radius">
                    <a href="/" class="global-link" aria-label="{{ story.title }}"></a>
                    <img srcset="{{ story.image.url }} 300w, 
                                {{ story.image.url }} 600w,
                                {{ story.image.url }} 1200w"
                         sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
                         src="{{ story.image.url }}"
                         loading="lazy"
                         alt="{{ story.title }}">
                    <div class="item-authors global-authors">
                        <div>
                            <div class="item-author global-item-author is-image global-image">
                                <a href="#" class="global-link" title="{{ story.author }}"></a>
                                <img src="{% static 'path/to/default-author-image.png' %}" loading="lazy" alt="{{ story.author }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-tags global-tags">
                        <a href="/tag/stories/">Story</a><span></span>
                    </div>
                    <h2 class="item-title"><a href="/">{{ story.title }}</a></h2>
                    <p class="item-excerpt">
                        {{ story.excerpt }}
                    </p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>

    <div class="pagination-section">
        <a href="/tag/stories/page/2/" aria-label="Load more"></a>
    </div>
</main>
