{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}">
<main class="global-main">
    <div class="archive-section is-partial-dark">
<h1 class="archive-title global-title is-tag">Story<span>34</span></h1>
<p class="archive-excerpt global-excerpt">We don&#x27;t create a lot of opportunities in our lives to share the things that shape us. The stories from the anonymous contributors below are the proof.</p>
</div>
<div class="loop-section global-padding">
<div class="global-subtitle">
<small class="global-subtitle-title">
Check out the <span>latest posts</span></small>
</div>
<div class="loop-wrap">
<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/perfect-date-in-ukraine/" class="global-link" aria-label="Perfect Date In Ukraine"></a>
<img srcset="/content/images/size/w300/2024/03/2.png 300w, 
/content/images/size/w600/2024/03/2.png 600w,
/content/images/size/w1200/2024/03/2.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2024/03/2.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author is-image global-image">
    <a href="/author/ilya/" class="global-link" title="Ilya Kharkow"></a>
    <img src="/content/images/size/w300/2024/03/Screenshot-2024-03-05-at-16.19.52.png" loading="lazy" alt="Ilya Kharkow">				</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/stories/">Story</a><span></span>
</div>
<h2 class="item-title"><a href="/perfect-date-in-ukraine/">Perfect Date In Ukraine</a></h2>
<p class="item-excerpt">
by Ilya Kharkow - www.ikharkow.com

“Beauty can be a more formidable obstacle than a barrier of barbed wire”
Jean Genet

Hey, how’s it hanging? Damn, it’s hot as hell today. The heat’s making my head spin. And also, my head is spinning from a story...
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/carefully-curated-queer-books-music-films-and-art/" class="global-link" aria-label="Delicately Curated Queer Books, a Short Story &amp; a Film (More, including Music and Art, are coming soon)"></a>
<img srcset="/content/images/size/w300/2023/05/Cover@2x.png 300w, 
/content/images/size/w600/2023/05/Cover@2x.png 600w,
/content/images/size/w1200/2023/05/Cover@2x.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/05/Cover@2x.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
    <span>Menenaba</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/stories/">Story</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/carefully-curated-queer-books-music-films-and-art/">Delicately Curated Queer Books, a Short Story &amp; a Film (More, including Music and Art, are coming soon)</a></h2>
<p class="item-excerpt">
From classic contemporary novels to blockbuster indie films, art galleries, and albums, our curated list of queer excellence in literature and arts offers a comprehensive and inclusive representation of queer voices and stories.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/not-your-doll/" class="global-link" aria-label="Not your doll"></a>
<img srcset="/content/images/size/w300/2023/04/Not-your-doll.jpg 300w, 
/content/images/size/w600/2023/04/Not-your-doll.jpg 600w,
/content/images/size/w1200/2023/04/Not-your-doll.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/04/Not-your-doll.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
    <span>Anonymous</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a><span><a href="/tag/stories/">Story</a></span>
</div>
<h2 class="item-title"><a href="/not-your-doll/">Not your doll</a></h2>
<p class="item-excerpt">
The absence of Sexual Education from the Indonesian school curriculum played a role in the traumatic events that shaped my childhood and defined how Ι see men.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/living-a-double-life/" class="global-link" aria-label="Living a double life"></a>
<img srcset="/content/images/size/w300/2023/03/Double-life.jpg 300w, 
/content/images/size/w600/2023/03/Double-life.jpg 600w,
/content/images/size/w1200/2023/03/Double-life.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/03/Double-life.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
    <span>Anonymous</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/stories/">Story</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/living-a-double-life/">Living a double life</a></h2>
<p class="item-excerpt">
It is a great punishment to live the way I do. Still quite interesting when I get to sneak out and enjoy the flexibilities I can feast on in this hostile to my endeavours society.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/from-syria-with-love/" class="global-link" aria-label="From Syria, with love."></a>
<img srcset="/content/images/size/w300/2023/02/Syria-1.jpg 300w, 
/content/images/size/w600/2023/02/Syria-1.jpg 600w,
/content/images/size/w1200/2023/02/Syria-1.jpg 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/02/Syria-1.jpg"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/anonymous/" class="global-link" title="Anonymous"></a>
    <span>Anonymous</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/stories/">Story</a><span></span>
</div>
<h2 class="item-title"><a href="/from-syria-with-love/">From Syria, with love.</a></h2>
<p class="item-excerpt">
In our first conversation, I asked him where the classroom for my first lecture was. He could immediately tell I was not from Damascus because of my accent. He said he was also studying journalism, and my heart jumped like a little rabbit.
</p>
</div>
</article>		<article class="item is-loop is-image">
<div class="item-image global-image global-image-orientation global-radius">

<a href="/just-keep-the-fire-burning/" class="global-link" aria-label="&quot;Just keep the fire burning&quot;"></a>
<img srcset="/content/images/size/w300/2023/02/Just-keep-the-fire-burning.png 300w, 
/content/images/size/w600/2023/02/Just-keep-the-fire-burning.png 600w,
/content/images/size/w1200/2023/02/Just-keep-the-fire-burning.png 1200w"
sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px"
src="/content/images/size/w1200/2023/02/Just-keep-the-fire-burning.png"
loading="lazy"
alt="">
<div class="item-authors global-authors">
<div>
<div class="item-author global-item-author">
    <a href="/author/menenaba/" class="global-link" title="Menenaba"></a>
    <span>Menenaba</span>
</div>
</div>
</div>
</div>
<div class="item-content">
<div class="item-tags global-tags">
<a href="/tag/stories/">Story</a><span><a href="/tag/crowdfunding-2022/">Crowdfunding 2022</a></span>
</div>
<h2 class="item-title"><a href="/just-keep-the-fire-burning/">&quot;Just keep the fire burning&quot;</a></h2>
<p class="item-excerpt">
&quot;If love is a crime, then I&#x27;m willing to be wanted.&quot; Unknown to 2Baba, he was crooning the soundtrack to the lives of all queer Africans. There are 32 countries where being queer is synonymous with being willing to be wanted by law enforcement. When this song debuted, that number was higher.
</p>
</div>
</article>	</div>
</div><div class="pagination-section">
<a href="/tag/stories/page/2/" aria-label="Load more"></a>
<button class="global-button">Load more</button>
</div>
</main>